*{
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#title{
    font-size: 28px;
    text-align: center;
    margin-left: 100px;
    margin-top: 10px;
}

.container{
    display: flex;
    width: 600px;
    margin: 0 auto;
}

.emoji-list{
    display: block;
    text-align: center;
    margin: 25px auto;
}

.emoji{
    width: 100%;
    margin: 40px auto;
}
.emoji img{
    width: 80%;
}
.webcam{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: black;
}

.play-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.play-btn:disabled{
    opacity: 75%;
    cursor: auto;
}

#emoji-capture{
    position: absolute;
    bottom:15px;
    left: 15px;
    display: none;
    width: 75px;
}

#result-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 10px;
}

.theme img{
    margin: 5px 5px;
    cursor: pointer;
}

.selected{
    position: relative;
    bottom: 20px;
}

.center-el-webcam{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#download-btn{
    border: none;
    background-color: #2051CF;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#random-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 80px auto;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 7px;
    cursor: pointer;
    border-radius: 5px;
}

#random-btn:hover{
    background-color: white;
    border: none;
    color: black;
}

#random-btn:disabled{
    opacity: 75%;
}

@media only screen and (max-width : 480px) { 
    #title{
        margin-left: 0px;
    }
    .container{
        display: block;
        width: 90%;
    }
    .emoji-list{
        display: flex;
        margin-top:10px;
        margin-right: 0px;
    }
    .emoji{
        margin: 0 auto;
        width: 30%;
    }
    .webcam{
        position: relative;
        width: 90vw;
        height: 90vw;
        margin: 0 auto;
    }
    .play-btn img{
        width: 50%;
    }
    #result-img img{
        margin: 0 5px !important;
    }
    #emoji-capture{
        width: 50px;
    }

    .theme img{
        width: 20%;
    }
}
